@font-face {
  font-family: 'Wotfard Bold';
  src: url('wotfard-bold-webfont.woff2') format('woff2'),
    url('wotfard-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard Light';
  src: url('wotfard-light-webfont.woff2') format('woff2'),
    url('wotfard-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard Medium';
  src: url('wotfard-medium-webfont.woff2') format('woff2'),
    url('wotfard-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard Regular';
  src: url('wotfard-regular-webfont.woff2') format('woff2'),
    url('wotfard-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
